*.html
*.log
*.sql
*.csv
results/
data_to_mysql_test.ipynb
.env
config.py
my_models/
init_table.py
mysql_execute.py
main_text_combined.ipynb


!data/stopwords.json
__pycache__/
README_前沿技术.md

BERTopic_Results_*/
image/
*.joblib       
绘图1.eddx       
BERTopic主题聚类.txt  
data/bertopic_data_new.jsonl
data/bertopic_data.jsonl
main_bert_topic_test.ipynb
main_bert_topic.ipynb
Subset_clustering.ipynb
pre_3.10/
DEV_SPEC.md
.opencode/skills/auto-coder
.opencode/skills/auto-coder-easy